#dashboard-page
  %section#welcome.module
    %h2
      Plugin your key and start tracking
  %section#stats.module
    %ul
      %li
        = "Websites Tracked:"
      %li
        = "Key: #{@api_key}"
      %li
        = "Fastest Site:"
  %section#beacon-data.module
    %h2
      You're Watching These
    %table#dashboard-table
      %thead
        %th
        %th
          URL
        %th
          Page Load Time
        %th
          Latest Recorded Date
        %th
      %tbody
        - @urls.each do |u|
          %tr{:class=>"#{cycle('odd', 'even')} row"}
            %td.delete
              = link_to "Delete", u, :class => "button delete"
            %td.url      
              = link_to u.name, u
            %td.load_time
              = (u.yslow2s.find(:last) == nil) ? 'N/A' : (grade(u.yslow2s.find(:last).lt))
            %td.date
              = (u.yslow2s.find(:last) == nil) ? 'N/A' : u.yslow2s.find(:last).created_at.to_s(:short)
            %td.view_report
              = link_to "View Report", u, :class => "button"
    #dialog.jqmWindow










