#dashboard-page
  %section#welcome.module
    %h2
      Plugin your key and start tracking
  %section#stats.module
    %ul
      %li
        = "Websites Tracked: #{@tracked_sites}"
      %li
        = "Key: #{@api_key}"
  %section#beacon-data.module
    %h2
      You're Watching These Sites
    %table#dashboard-table
      %thead
        %th
        %th
          URL
        %th
          Page Load Time
        %th
          Requests
        %th
          Total Weight
        %th
          Latest Recorded Date
        %th
      %tbody
        - @urls.each do |u|
          %tr{:class=>"#{cycle('odd', 'even')} row"}
            %td.delete
              = link_to "Delete", u, :method => "delete", :class => "button delete", :confirm => "Are you sure?"
            %td.url      
              = link_to u.name, u
            %td.load_time
              = (u.yslow2s.find(:last) == nil) ? 'N/A' : (load_time(u.yslow2s.find(:last).lt))
            %td.requests
              = (u.yslow2s.find(:last) == nil) ? 'N/A' : (u.yslow2s.find(:last).r)
            %td.weight
              = (u.yslow2s.find(:last) == nil) ? 'N/A' : (number_to_human_size(u.yslow2s.find(:last).w))
            %td.date
              = (u.yslow2s.find(:last) == nil) ? 'N/A' : (readable_time(u.yslow2s.find(:last).created_at.to_s))
            %td.view_report
              = link_to "View Report", u, :class => "button"
    #dialog.jqmWindow










