%nav#dashboard-nav
  %ul
    %li.active
      = link_to "Page Load Time", dashboard_show_path
    %li
      = link_to "Page Weight", dashboard_show_path
    %li
      = link_to "HTML", dashboard_show_path
    %li
      = link_to "CSS", dashboard_show_path
    %li
      = link_to "JavaScript", dashboard_show_path
    %li
      = link_to "Images", dashboard_show_path
    %li
      = link_to "Beacon Data", dashboard_show_path
%section#beacon-data.module
  %h2
    = "History for #{@the_url.name}"
  %table#dashboard
    %thead
      %th
        URL
      %th
        Load Time
      %th
        Empty Cache Page Weight
      %th
        Primed Cache Page Weight
      %th
        Empty Cache Requests
      %th
        Primed Cache Requests
      %th
        Stats
      %th
        Components
      %th
        YSlow Score
      %th
        Recorded Date
    %tbody
      - @urls.each do |u|
        %tr{:class=>"#{cycle('odd', 'even')} row"}
          %td.url      
            = link_to u.url.name
          %td
            = u.lt
          %td
            = u.w
          %td
            = u.w_c
          %td
            = u.r
          %td
            = u.r_c
          %td
            = link_to 'Show', all_components_path(u), :class => 'showDialog'
          %td
            = link_to 'Components', all_components_path(u)
          %td
            = u.o
          %td
            = u.created_at.to_s(:short)
%section#trend.module
  %h2
    Trend
  #chartdiv

          