%nav#dashboard-nav
  %ul
    %li.active
      = link_to "History", dashboard_show_path
    %li
      = link_to "Trends", url_trends_path
%section#beacon-data.module
  %h2
    = "History for #{url_display(@the_url.name)}"
  %table#dashboard
    %thead
      %th
        Recorded Date
      %th
        Load Time
      %th
        Empty Cache Page Weight
      %th
        Primed Cache Page Weight
      %th
        Empty Cache Requests
      %th
        Primed Cache Requests
      %th
        YSlow Score
      %th
      %th
    %tbody
      - @urls.each do |u|
        %tr{:class=>"#{cycle('odd', 'even')} row"}
          %td
            = readable_time_stamp(u.created_at.to_s)
          %td
            = load_time(u.lt)
          %td
            = number_to_human_size(u.w)
          %td
            = number_to_human_size(u.w_c)
          %td
            = u.r
          %td
            = u.r_c
          %td
            = u.o
          %td
            = link_to 'Stats', all_components_path(u), :class => 'showDialog button'
          %td
            = link_to 'Components', all_components_path(u), :class => 'button'
/ %section#trend.module
/   %h2
/     Trend
/   #chartdiv

          