!!! Strict
%html{ :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    %title
      = title
    = csrf_meta_tag
    %meta{ :content => "text/html; charset=utf-8", "http-equiv" => "Content-Type" }
    = stylesheet_link_tag "blueprint/screen.css", "application.css", "jqmodal.css", "jquery.jqplot.min.css", :media => "screen, projection"
    = stylesheet_link_tag "blueprint/print.css", :media => "print"
  %body
    = render :partial => 'layouts/header'
    #content.container
      = if flash[:warning] || flash[:notice] || flash[:success] || flash[:error]
        %section#flash.module
          %h2
            Status
          - flash.each do |key, value|
            %div{:class => "flash #{key}"}
              = "#{value}"
      = yield
    = render :partial => 'layouts/footer'
    %script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js", :type => "text/javascript"}
    = javascript_include_tag "rails", "jqmodal", "jquery.validate.min", "jquery.jqplot.min", "application"
    /[if IE]
      = javascript_include_tag "excanvas.min.js"
    = render :partial => 'analytics/google_analytics'
    = debug(params) if Rails.env.development?