!!! Strict
%html{ :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    %title
      High Performing Sites - Front-End Performance Grades of the Top 100 Sites on the Web
    %meta{ :content => "text/html; charset=utf-8", "http-equiv" => "Content-Type" }
    = stylesheet_link_tag "blueprint/screen.css", "application.css", "jqmodal.css", :media => "screen, projection"
    = stylesheet_link_tag "blueprint/print.css", :media => "print"
  %body
    .container
      %h1
        %a{:href => url_index_path, :title => "Site Speed Tracker"}
          Site Speed Tracker
      #sub_container
        #top_nav
        #sub_container_back

          #main_content
            .module
              = yield
    #footer
      .container
    = javascript_include_tag "jquery-1.4.2", "jqmodal", "application", :cache => true
    = debug(params) if Rails.env.development?